# /etc/systemd/system/gitlab-runner.service
[Unit]
Description=GitLab Runner
After=syslog.target network.target
ConditionFileIsExecutable={{ install_prefix }}/bin/gitlab-runner

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart={{ install_prefix }}/bin/gitlab-runner "run" "--working-directory" "/usr/local/share/gitlab-runner" "--config" "{{ install_prefix }}/etc/gitlab-runner/config.toml" "--service" "gitlab-runner" "--syslog" "--user" "gitlab-runner"

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
