[
  {rabbitmq_auth_backend_ldap,
   [ {servers,               ["cluster.local"]},
     {user_dn_pattern,       "uid=${username},cn=users,cn=accounts,dc=cluster,dc=local"},
     {use_ssl,               false},
     {port,                  389},
     {log,                   true},
     {tag_queries, [{administrator, {in_group, "cn=admins,cn=groups,cn=accounts,dc=cluster,dc=local"}},
                    {management,    {in_group, "cn=rabbitmq,cn=groups,cn=accounts,dc=cluster,dc=local"}}]}
   ]
  } 
].
